html {
    background: url(../assets/pcArms.jpg) center center fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: grey;
}

body {
   
}

#form {
    text-align: left;
    top: 50%;
}

#difficulty {
    text-align: left;
    display: inline-block;
    margin:0 auto;
    margin-top: 40%;
}